#main.contact {
  &:after {
    display: none;
  }
  /* <!---- CAREERS SECTION ----> */
  .contact-tech-tales {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6.75rem;
    padding: 0 6rem;
  }
  .contact-tales {
    text-align: center;
    width: 44.18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h5 {
    color: var(--Colors-Gray-Primary-Text, #090a0d);
    text-align: center;
    font-family: Golos Text;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.9375rem;
    margin-bottom: 0.75rem;
  }
  h1 .line1 {
    color: var(--Colors-Gray-Primary-Text, #090a0d);
    text-align: center;
    font-family: Golos Text;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
  }
  h1 .line2 {
    background: var(
      --Colors-Gradient-Gradient,
      linear-gradient(
        90deg,
        #3f6fea 0%,
        #3f70ea 6.67%,
        #3e72e9 13.33%,
        #3d77e9 20%,
        #3c7de7 26.67%,
        #3b85e6 33.33%,
        #398fe4 40%,
        #3799e2 46.67%,
        #34a4e1 53.33%,
        #32afdf 60%,
        #30b8dd 66.67%,
        #2fc1dc 73.33%,
        #2ec7da 80%,
        #2dcbda 86.67%,
        #2cced9 93.33%,
        #2ccfd9 100%
      )
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Golos Text;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
  }
  .contact-tales p {
    width: 34rem;
    color: var(--Colors-Gray-Secondary-Text, #676a70);
    font-family: Golos Text;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 1.6rem */
    margin-top: 1.5rem;
  }

  .container {
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: space-between;
  }
  .form-container {
    width: 35rem;
    padding-left: 6rem;
    color: var(--colors-gray-secondary-text);
  }
  .form-container form {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 35rem;
    margin-top: 8.438rem;
    /* padding: 3.14rem 0; */
  }
  .form {
    font-size: 1.25rem;
    display: flex;
    padding-bottom: 1.25rem;
    border-bottom: 0.0625rem solid #dfe1e5;
  }
  .container-1 {
    flex-direction: column;
    display: flex;
    gap: 2rem;
  }
  .container-2 {
    flex-direction: column;
    display: flex;
  }
  .container-2 p {
    font-family: Golos Text;
    font-size: 1rem;
  }

  .input-group {
    position: relative;
  }

  .field input {
    width: 100%;
    margin: 0.875rem 0;
    padding: 0.675rem 0;
    font-size: 0.875rem;
    // color: #676a70;
    background: transparent;
    border: 0;
    outline: none;
  }

  .field {
    margin-top: -2rem;
  }

  .select-field label {
    width: 100%;
    font-size: 1.25rem;
    margin-top: -1rem;
    // color: #676a70;
    background: transparent;
  }

  .select-field {
    font-size: 1.25rem;
  }

  .select-field {
    margin-top: 2rem;
  }

  .field textarea {
    width: 100%;
    padding: 0.875rem 0;
    font-size: 0.875rem;
    // color: #676a70;
    background: transparent;
  }

  .field label {
    position: absolute;
    top: 1.25rem;
    left: 0;
    font-size: 1.25rem;
  }

  .input-group input {
    width: 100%;
    padding: 1.25rem 0;
    font-size: 1.25rem;
    color: #676a70;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
  }

  .input-group textarea {
    width: 100%;
    padding: 0.675rem 0;
    font-size: 1.25rem;
    color: #676a70;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
  }

  .input-group select {
    width: 100%;
    padding: 1.25rem 0;
    font-size: 1.25rem;
    color: #676a70;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .input-group select option:hover {
    background-color: var(--colors-brand-primary);
  }

  .input-group label {
    position: absolute;
    top: 1.5rem;
    left: 0;
    font-size: 1.25rem;
    color: #676a70;
    transform-origin: 0 0;
    transform: translateY(-50%);
    transition: all 0.3s;
  }

  label[for="contact-industry"] {
    font-size: 1rem;
    position: relative;
    top: 0;
    transform: translateY(0%);
  }

  .input-group input:focus,
  .input-group input:valid {
    border-color: var(--colors-brand-primary);
  }

  // /* .input-group input:valid + label */
  // *:not(input.field) {
  //   -webkit-user-select: none;
  //   -khtml-user-select: none;
  //   -moz-user-select: none;
  //   -ms-user-select: none;
  //   user-select: none;
  // }

  .input-group input:focus + label,
  .input-group input:not(:placeholder-shown) + label {
    transform: translateY(-250%);
    font-size: 0.625rem;
    color: var(--colors-brand-primary);
  }

  .input-group textarea:focus,
  .input-group textarea:valid {
    border-color: var(--colors-brand-primary);
  }

  .input-group textarea:focus + label,
  .input-group textarea:valid + label {
    transform: translateY(-300%);
    font-size: 0.625rem;
    color: var(--colors-brand-primary);
  }

  .input-group select:focus {
    border-color: var(--colors-brand-primary);
  }

  .button {
    border: none;
    display: flex;
    width: 12.5rem;
    padding: 1.125rem 2.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background: var(--colors-brand-primary);
    color: #fff;
    font-family: Golos Text;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 1rem */
    letter-spacing: -0.01rem;
    text-transform: capitalize;
    margin-top: 2.5rem;
    box-shadow: inset 0 0 0 0 #1b2250;
    transition:
      color 0.3s ease-in-out,
      box-shadow 0.3s ease-in-out;
  }
  .button:hover {
    box-shadow: inset 0 -3.5rem 0 0 #1b2250;
  }
  .button img {
    width: 1.25rem;
    height: 1.25rem;
  }
  .image-container img {
    width: 36.63869rem;
    height: 35.98044rem;
  }
}

/* -----------for small screen devices------------ */
@media screen and (max-width: 1440px) and (min-width: 769px) {
  #main.contact {
    /* <!---- CAREERS SECTION ----> */
    .contact-tech-tales {
      margin-top: 6.75vw;
      padding: 0 6vw;
    }
    .contact-tales {
      text-align: center;
      width: 44.18vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    h5 {
      color: var(--Colors-Gray-Primary-Text, #090a0d);
      text-align: center;
      font-family: Golos Text;
      font-size: 1.25vw;
      font-style: normal;
      font-weight: 400;
      line-height: 1.9375vw;
      margin-bottom: 0.75vw;
    }
    h1 .line1 {
      color: var(--Colors-Gray-Primary-Text, #090a0d);
      text-align: center;
      font-family: Golos Text;
      font-size: 3.5vw;
      font-style: normal;
      font-weight: 600;
      line-height: 120%;
    }
    h1 .line2 {
      background: var(
        --Colors-Gradient-Gradient,
        linear-gradient(
          90deg,
          #3f6fea 0%,
          #3f70ea 6.67%,
          #3e72e9 13.33%,
          #3d77e9 20%,
          #3c7de7 26.67%,
          #3b85e6 33.33%,
          #398fe4 40%,
          #3799e2 46.67%,
          #34a4e1 53.33%,
          #32afdf 60%,
          #30b8dd 66.67%,
          #2fc1dc 73.33%,
          #2ec7da 80%,
          #2dcbda 86.67%,
          #2cced9 93.33%,
          #2ccfd9 100%
        )
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: Golos Text;
      font-size: 3.5vw;
      font-style: normal;
      font-weight: 600;
      line-height: 120%;
    }
    .contact-tales p {
      width: 34vw;
      color: var(--Colors-Gray-Secondary-Text, #676a70);
      font-family: Golos Text;
      font-size: 1vw;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 1.6rem */
      margin-top: 1.5vw;
    }

    .container {
      display: flex;
      gap: 4vw;
      align-items: center;
      justify-content: space-between;
    }
    .form-container {
      padding-left: 6vw;
      color: var(--colors-gray-secondary-text);
    }
    .form-container form {
      display: flex;
      flex-direction: column;
      gap: 2.5vw;
      width: 35vw;
      margin-top: 8.438vw;
    }
    .form {
      font-size: 1.25vw;
      display: flex;
      padding-bottom: 1.25vw;
      border-bottom: 0.0625vw solid #dfe1e5;
    }
    .container-1 {
      flex-direction: column;
      display: flex;
      gap: 2vw;
    }
    .container-2 {
      flex-direction: column;
      display: flex;
    }
    .container-2 p {
      font-family: Golos Text;
      font-size: 1vw;
    }

    .input-group select {
      padding: 1.25vw 0;
      font-size: 1.25vw;
    }

    .input-group textarea {
      padding: 0.675vw 0;
      font-size: 1.25vw;
    }

    .input-group input {
      padding: 1.25vw 0;
      font-size: 1.25vw;
    }

    .input-group label[for="contact-industry"] {
      font-size: 1vw;
    }

    .input-group label {
      font-size: 1.25vw;
    }

    .field input {
      margin: 0.875vw 0;
      padding: 0.675vw 0;
      font-size: 0.875vw;
    }

    .field {
      margin-top: -2vw;
    }

    .select-field label {
      font-size: 1.25vw;
      margin-top: -1vw;
    }

    .select-field {
      margin-top: 2vw;
    }

    .field textarea {
      padding: 0.875vw 0;
      font-size: 0.875vw;
    }

    .field label {
      top: 1.5vw;
      font-size: 1.25vw;
    }

    .button {
      border: none;
      display: flex;
      width: 12.5vw;
      padding: 1.125vw 2.5vw;
      justify-content: center;
      align-items: center;
      gap: 0.5vw;
      background: var(--colors-brand-primary);
      color: #fff;
      font-family: Golos Text;
      font-size: 1vw;
      font-style: normal;
      font-weight: 500;
      line-height: 100%; /* 1rem */
      letter-spacing: -0.01vw;
      text-transform: capitalize;
      margin-top: 2.5vw;
    }
    .button img {
      width: 1.25vw;
      height: 1.25vw;
    }
    .image-container {
      width: 100%;
    }
    .image-container img {
      width: 36.63869vw;
      height: 35.98044vw;
    }
  }
}

/* -----------for small screen devices------------ */
@media only screen and (max-width: 768px) {
  #main.contact {
    &:after {
      display: block;
    }
    /* <!---- CAREERS SECTION ----> */
    .contact-tech-tales {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2.54rem;
      padding: 0 1rem;
    }
    .contact-tales {
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    h5 {
      color: var(--Colors-Gray-Primary-Text, #090a0d);
      text-align: center;
      font-family: Golos Text;
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.03125rem;
      margin-bottom: 1rem;
    }
    h1 .line1 {
      color: var(--Colors-Gray-Primary-Text, #090a0d);
      text-align: center;
      font-family: Golos Text;
      font-size: 2rem;
      font-style: normal;
      font-weight: 600;
      line-height: 2.625rem;
    }
    h1 .line2 {
      background: var(
        --Colors-Gradient-Gradient,
        linear-gradient(
          90deg,
          #3f6fea 0%,
          #3f70ea 6.67%,
          #3e72e9 13.33%,
          #3d77e9 20%,
          #3c7de7 26.67%,
          #3b85e6 33.33%,
          #398fe4 40%,
          #3799e2 46.67%,
          #34a4e1 53.33%,
          #32afdf 60%,
          #30b8dd 66.67%,
          #2fc1dc 73.33%,
          #2ec7da 80%,
          #2dcbda 86.67%,
          #2cced9 93.33%,
          #2ccfd9 100%
        )
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: Golos Text;
      font-size: 2rem;
      font-style: normal;
      font-weight: 600;
      line-height: 2.625rem;
    }
    .contact-tales p {
      width: 100%;
      color: var(--Colors-Gray-Secondary-Text, #676a70);
      font-family: Golos Text;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      margin-top: 1rem;
    }

    .container {
      display: flex;
      flex-direction: column-reverse;
      gap: 3.8rem;
      align-items: center;
      justify-content: space-between;
      padding: 0 1rem;
      margin-top: 2.5rem;
    }
    .form-container {
      width: 100%;
      padding-left: 0;
      color: var(--Colors-Gray-Primary-Text);
    }
    .form-container form {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      width: 100%;
      margin-top: 3.875rem;
      /* padding: 3.14rem 0; */
    }
    .form {
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      display: flex;
      padding-bottom: 1.25rem;
      border-bottom: 0.0625rem solid #dfe1e5;
    }
    .container-1 {
      flex-direction: column;
      display: flex;
      gap: 2rem;
    }
    .container-2 {
      flex-direction: column;
      display: flex;
    }
    .container-2 p {
      font-family: Golos Text;
      color: var(--colors-gray-secondary-text);
      font-size: 0.875rem;
      margin-bottom: 1rem;
    }
    .input-group {
      width: 100%;
    }
    .input-group input {
      font-size: 0.875rem;
      color: #090a0d;
    }
    .input-group label {
      font-size: 0.875rem;
      color: #090a0d;
    }
    .input-group textarea {
      width: 92vw;
      margin-right: 1rem;
      font-size: 0.875rem;
      color: #090a0d;
    }
    .input-group select,
    .input-group span {
      font-size: 0.875rem;
      color: #090a0d;
    }
    .input-group select option:checked,
    .input-group select option:focus {
      background-color: var(--colors-brand-primary);
    }

    .field input {
      color: #090a0d;
    }

    .field {
      margin-top: -1rem;
    }

    .select-field label {
      font-size: 0.875rem;
      margin-top: -0.5rem;
    }

    .select-field {
      margin-top: 2rem;
    }

    .field textarea {
      padding: 1.25rem 0;
      font-size: 0.875rem;
    }

    .field label {
      top: 1.875rem;
      left: 0;
      font-size: 0.875rem;
    }

    .button {
      border: none;
      display: flex;
      border: none;
      width: 10.5rem;
      padding: 0.875rem 1.875rem;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      background: var(--colors-brand-primary);
      color: #fff;
      font-family: Golos Text;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 500;
      line-height: 100%; /* 0.875rem */
      letter-spacing: -0.00875rem;
      text-transform: capitalize;
      margin-top: 2.5rem;
    }
    .button img {
      width: 1.25rem;
      height: 1.25rem;
    }
    .image-container img {
      width: 100%;
      height: auto;
    }
  }
}
